<div class="container">

<p id="notice"><%= notice %></p>

  <div class="row">
          <div class="col-md offset-md-1"><h1> Adicionar</h1></div>
  </div>

<%= render 'form', cultivo: @cultivo %>

<%= link_to 'Back', cultivos_path %>
 </div>