<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_solo.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_solo_path(@tipo_solo) %> |
<%= link_to 'Back', tipo_solos_path %>
